<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DigiLockerSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddPhoto</servlet-name>
    <servlet-class>AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoto</servlet-name>
    <url-pattern>/addphoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserProfile</servlet-name>
    <servlet-class>UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserProfile</servlet-name>
    <url-pattern>/updateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListPhotos</servlet-name>
    <servlet-class>com.viewprofile.ListPhotosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPhotos</servlet-name>
    <url-pattern>/listphotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <servlet-class>com.viewprofile.DisplayPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <url-pattern>/displayphoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnblockUser</servlet-name>
    <servlet-class>com.viewprofile.UnblockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnblockUser</servlet-name>
    <url-pattern>/unblockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlockUser</servlet-name>
    <servlet-class>com.viewprofile.BlockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUser</servlet-name>
    <url-pattern>/blockUser</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>YOUR_EMAIL</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>YOUR_PASSWORD</param-value>
  </context-param>
  <servlet>
    <servlet-name>PieChartServlet</servlet-name>
    <servlet-class>com.simplecodestuffs.action.PieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChartServlet</servlet-name>
    <url-pattern>/displayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PieChartServlet1</servlet-name>
    <servlet-class>com.simplecodestuffs.action.PieChartServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChartServlet1</servlet-name>
    <url-pattern>/displayChart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PieChartServlet2</servlet-name>
    <servlet-class>com.simplecodestuffs.action.PieChartServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChartServlet2</servlet-name>
    <url-pattern>/displayChart2</url-pattern>
  </servlet-mapping>
</web-app>